<div class="container">
    <div class="form-edit">
        <%= simple_form_for(@user) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :nickname %>
        <%= f.input :bio, as: :text, input_html: {rows: 5} %>
        <%= f.input :password %>
        <%= f.submit "Update", class: "btn btn-primary" %>
        <%= link_to 'Back', user_path(@user) %>

        <% end %>
    </div>
</div>
